@import 'functions';
@import 'components';
@import 'pages';
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  background: var(--positive) !important;

  h1,
  h2,
  h3,
  p,
  span {
    color: var(--opposite-t8);
    margin: 0;
  }

  h3,
  h4 {
    font-weight: 450;
    color: var(--opposite-t9);
  }

  .App {
    transition: all 0.5s ease;
  }

  .library-active {
    margin-left: 30%;
  }

  .ant-btn:hover,
  .ant-btn:focus {
    color: black;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--opposite-t3) transparent;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  -webkit-scrollbar-thumb {
    background-color: var(--opposite-t3);
    border-radius: 20px;
    border: transparent;
  }
}

*:not(.material-icons) {
  font-family: 'Vazirmatn', sans-serif;
}

.material-icons {
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Theme
:root {
  /* Your default theme */
  --background: #ffffff;
  --foreground: rgb(15, 12, 8);
  --main: rgb(113, 61, 0);
  --hover-main: rgba(210, 112, 0, 0.439);
  --input: rgb(232, 232, 232);
  --input-color: rgb(66, 66, 66);
  --main-t1: rgba(113, 61, 0, 0.1);
  --main-t2: rgba(113, 61, 0, 0.2);
  --main-t3: rgba(113, 61, 0, 0.3);
  --main-t4: rgba(113, 61, 0, 0.4);
  --main-t5: rgba(113, 61, 0, 0.5);
  --main-t6: rgba(113, 61, 0, 0.6);
  --main-t7: rgba(113, 61, 0, 0.7);
  --main-t8: rgba(113, 61, 0, 0.8);
  --main-t9: rgba(113, 61, 0, 0.9);
  --positive-t05: rgba(255, 255, 255, 0.05);
  --positive-t1: rgba(255, 255, 255, 0.1);
  --positive-t15: rgba(255, 255, 255, 0.15);
  --positive-t2: rgba(255, 255, 255, 0.2);
  --positive-t3: rgba(255, 255, 255, 0.3);
  --positive-t4: rgba(255, 255, 255, 0.4);
  --positive-t5: rgba(255, 255, 255, 0.5);
  --positive-t6: rgba(255, 255, 255, 0.6);
  --positive-t7: rgba(255, 255, 255, 0.7);
  --positive-t8: rgba(255, 255, 255, 0.8);
  --positive-t9: rgba(255, 255, 255, 0.9);
  --positive: white;
  --opposite-t05: rgba(0, 0, 0, 0.05);
  --opposite-t1: rgba(0, 0, 0, 0.1);
  --opposite-t15: rgba(0, 0, 0, 0.15);
  --opposite-t2: rgba(0, 0, 0, 0.2);
  --opposite-t3: rgba(0, 0, 0, 0.3);
  --opposite-t4: rgba(0, 0, 0, 0.4);
  --opposite-t5: rgba(0, 0, 0, 0.5);
  --opposite-t6: rgba(0, 0, 0, 0.6);
  --opposite-t7: rgba(0, 0, 0, 0.7);
  --opposite-t8: rgba(0, 0, 0, 0.8);
  --opposite-t9: rgba(0, 0, 0, 0.9);
  --opposite: black;
}

[data-theme='dark'] {
  --background: rgb(10, 10, 15);
  --foreground: rgb(232, 232, 232);
  --main: rgb(113, 61, 0);
  --hover-main: #422300;
  --input: rgb(66, 66, 66);
  --input-color: rgb(232, 232, 232);
  --main-t1: rgba(113, 61, 0, 0.1);
  --main-t2: rgba(113, 61, 0, 0.2);
  --main-t3: rgba(113, 61, 0, 0.3);
  --main-t4: rgba(113, 61, 0, 0.4);
  --main-t5: rgba(113, 61, 0, 0.5);
  --main-t6: rgba(113, 61, 0, 0.6);
  --main-t7: rgba(113, 61, 0, 0.7);
  --main-t8: rgba(113, 61, 0, 0.8);
  --main-t9: rgba(113, 61, 0, 0.9);
  --positive-t05: rgba(0, 0, 0, 0.05);
  --positive-t1: rgba(0, 0, 0, 0.1);
  --positive-t15: rgba(0, 0, 0, 0.15);
  --positive-t2: rgba(0, 0, 0, 0.2);
  --positive-t3: rgba(0, 0, 0, 0.3);
  --positive-t4: rgba(0, 0, 0, 0.4);
  --positive-t5: rgba(0, 0, 0, 0.5);
  --positive-t6: rgba(0, 0, 0, 0.6);
  --positive-t7: rgba(0, 0, 0, 0.7);
  --positive-t8: rgba(0, 0, 0, 0.8);
  --positive-t9: rgba(0, 0, 0, 0.9);
  --positive: black;
  --opposite-t05: rgba(255, 255, 255, 0.05);
  --opposite-t1: rgba(255, 255, 255, 0.1);
  --opposite-t15: rgba(255, 255, 255, 0.15);
  --opposite-t2: rgba(255, 255, 255, 0.2);
  --opposite-t3: rgba(255, 255, 255, 0.3);
  --opposite-t4: rgba(255, 255, 255, 0.4);
  --opposite-t5: rgba(255, 255, 255, 0.5);
  --opposite-t6: rgba(255, 255, 255, 0.6);
  --opposite-t7: rgba(255, 255, 255, 0.7);
  --opposite-t8: rgba(255, 255, 255, 0.8);
  --opposite-t9: rgba(255, 255, 255, 0.9);
  --opposite: white;
}