nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    display: flex !important;
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65) !important;
    padding: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
      background: rgb(65, 65, 65) !important;
      color: white !important;

      h2 {
        color: white;
      }
    }

    h2 {
      font-size: 18px;
      transition: all 0.3s ease;
    }

  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}