nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 180%;
  }

  .wave {
    display: flex;
  }

  button {
    display: flex !important;
    background: var(--positive) transparent !important;
    border: none;
    cursor: pointer;
    border: 2px solid var(--opposite-t8) !important;
    padding: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
      background: var(--opposite) !important;

      span,
      h2 {
        color: var(--positive);
      }
    }

    h2 {
      font-size: 18px;
      transition: all 0.3s ease;
    }

    span {
      transition: all 0.3s ease;
    }

  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}